.light-gradient {
		background: rgb(250,225,248);
background: linear-gradient(146deg, rgba(250,225,248,1) 2%, rgba(255,253,193,1) 19%, rgba(255,253,193,1) 79%, rgba(250,225,248,1) 100%);
}
.light-blue-gradient {
		background: rgb(255,179,249);
background: linear-gradient(146deg, rgba(255,179,249,1) 2%, rgba(193,250,255,0.908000700280112) 32%, rgba(193,255,251,1) 65%, rgba(255,179,249,1) 100%);
}
.dark-gradient {
		background: rgb(57,57,57);
background: linear-gradient(146deg, rgba(57,57,57,1) 9%, rgba(164,164,164,1) 24%, rgba(164,164,164,1) 69%, rgba(47,47,47,1) 93%);
}
.light-gray-gradient {
		background: rgb(210,210,210);
background: linear-gradient(146deg, rgba(210,210,210,1) 9%, rgba(242,242,242,1) 24%, rgba(244,244,244,1) 69%, rgba(209,209,209,1) 93%);
}
.dark-blue-gradient {
		background: rgb(103,1,185);
background: linear-gradient(146deg, rgba(103,1,185,0.8183648459383753) 18%, rgba(6,0,80,0.6923144257703081) 32%, rgba(7,0,88,0.9332107843137255) 70%, rgba(94,3,168,0.8603816526610644) 89%);
}
